.h1{
	text-align: center;

}
.menu-bar{
	background-color: #808080;
	text-align: center;
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
}

.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.p1{
	text-align: left;
}

.pb{
	width: 550px;
	margin-left: 650px;
}

.pbdev1{
	width: 550px;
	margin-left: 1150px;
	margin-top: 100px;

}

.pbdev2{
	width: 550px;
	margin-top: 100px;
	margin-left: 20px;
}

.pbdev3{
	width: 550px;
	margin-left: 1150px;
	margin-top: 100px;
}

.pbdev4{
	width: 550px;
	margin-top: 100px;
	margin-left: 20px;
}

.pbdev5{
	width: 550px;
	margin-left: 1150px;
	margin-top: 100px;
}

.pbdev6{
	width: 550px;
	margin-top: 100px;
	margin-left: 20px;
}

.pbdev7{
	width: 550px;
	margin-left: 1150px;
	margin-top: 100px;
}

.text1{
	width: 700px;
	margin-left: -1000px;
	margin-bottom: -500px;

}

.text2{
	width: 850px;
	margin-left: 400px;
	margin-bottom: 150px;
}

.text3{
	width: 850px;
	margin-left: -1600px;
	margin-bottom: -400px;
}

.text4{
	width: 850px;
	margin-left: 400px;
	margin-bottom:  150px;
}

.text5{
	width: 850px;
	margin-left: -1600px;
	margin-bottom: -400px;
}


